{% extends "base.html" %}

{% block content %}
<div class="circle">{{ counts.fatality }}</div>
<div class="circle">{{ counts.infection }}</div>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{{url_for('static', filename='images/small.png')}}" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold">Overcount</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
          If the goverment will not give us the correct numbers.
          We will count it ourselves.
      </p>
    </div>
  </div>
<form id="form" action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="row justify-content-center">
        <div class="col-6">
            {{ form.infection_count.label }}:
            {{ form.infection_count() }}
        </div>
        <div class="col-6">
            {{ form.fatality_count.label }}:
            {{ form.fatality_count() }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            {{ form.country.label }}
            {{ form.country()}}
        </div>
        <div class="col-6">
            {{ form.zipcode.label }}
            {{ form.zipcode(size=10) }}
        </div>
    </div>
    <br>
    <div class="row justify-content-center g-5">
        <div class="col-1 g-5">
            {{ form.submit() }}
        </div>
    </div>
</form>
{% endblock %}