{% extends "base.html" %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{{url_for('static', filename='images/small.png')}}" alt="" width="72" height="72">

    <h1 class="display-5 fw-bold">गड़ना</h1>
      <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        यदि सरकार सही संख्या नहीं बताएगी तो हम स्वयं गिनिती करेंगे |
      </p>
    </div>
  </div>
<form id="form" action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="row justify-content-center">
        <div class="col-6">
            मरीज़ों की संख्या :
            {{ form.infection_count() }}
        </div>
        <div class="col-6">
            मृतक लोगों की संख्या :
            {{ form.fatality_count() }}
        </div>
    </div>
    <br>
    <div class="row justify-content-center g-5">
        <div class="col-1 g-5">
            {{ form.submit() }}
        </div>
    </div>
</form>
{% endblock %}